body{
    background-color: rgb(24, 26, 27);
    color: snow;
    font-family: Verdana, Tahoma, sans-serif;
}
.navbar {
    background-color: rgb(24, 26, 27);
    padding: 15px 0;
    border: solid 2px;
    color: snow;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: snow;
}
.navbar li {
    margin: 0 15px;
    color: snow;
}
.navbar a {
    /* Самый важный отображатель инфы до навередния курсора */
    color: lightseagreen;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
    padding: 8px 15px;
    border-radius: 4px;
    color: snow;
}
.navbar a:hover {
    background-color: rgb(54, 56, 57);

}
header, .welcome, .forum-section{
    background-color: rgb(54, 56, 57);
    margin-bottom: 20px;
    /* background: #f9f9f9; */
    padding: 10px;
    border: 1px solid #ccc;
}
.window-header{
    color: snow;
    background-color: rgb(54, 56, 57);
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(120, 200, 220);
}

a{
    color: lightgreen;
    /* color:rgb(83, 83, 255) ; */
}
.selected{
    background-color: rgb(24, 26, 27);
    padding: 15px 0;
    border: solid 2px;
}
.square_box{
    color: blue,
    
}
.square_box{
    
}