body{
    background-color: rgb(24, 26, 27);
    color: snow;
    font-family: Verdana, Tahoma, sans-serif;
}
.navbar {
    background-color: rgb(24, 26, 27);
    padding: 15px 0;
    border: outset;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.navbar li {
    margin: 0 15px;
}
.navbar a {
    color: lightseagreen;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
    padding: 8px 15px;
    border-radius: 4px;
}
.navbar a:hover {
    background-color: rgb(54, 56, 57);
}
header, .welcome, .forum-section{
    background-color: rgb(54, 56, 57);
    margin-bottom: 20px;
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
}
.window-header{
    color: snow;
    background-color: rgb(54, 56, 57);
    font-size: 20px;
    margin-bottom: 10px;
    color: #336699;
}

a{
    color: lightgreen;
    /* color:rgb(83, 83, 255) ; */
}